<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">This is page that edit scoresheet </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center info">baseline_player　<strong><%=@player.baseline_player%></strong></th>
                        <th class="text-center"><strong>VS</strong></th>
                        <th class="text-center danger">baseline_player_opponent　<strong><%=@player.baseline_player_opponent%></strong></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        
                        <th class="text-center info">net_player　<strong><%=@player.net_player%></strong></th>
                        <th class="text-center"></th>
                        <th class="text-center danger">net_player_opponent　<strong><%=@player.net_player_opponent%></strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                            <td>Hanako</td>
                            <td>Qiita</td>
                            <td>@Hanaq</td>
                    </tr>
                    <tr>
                        
                            <td>Taro</td>
                            <td>Qiita</td>
                            <td>@TaroQ</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>