<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-center">This is page that edit scoresheet </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-center">
            <div class-"button">
                <button type="button" class="btn btn-primary next-button">Next</button>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class-"button center-block">
                <button type="button" class="btn btn-success save-button">Save</button>
            </div>
            <h2 class="text-center">JQueryの動作環境テスト(未稼働)</h2>
            <div class-"button center-block">
                <button type="button" class="btn btn-warning keep-button">Keep the score</button>
            </div>
            <div class-"button center-block">
                <button type="button" class="btn btn-warning game-button">Game change sides</button>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <div class-"button">
                <button type="button" class="btn btn-danger back-button">Back</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="15" class="text-center info">baseline_player　<strong><%=@player.baseline_player%></strong></th>
                        <th rowspan="2" class="text-center"><strong>VS</strong></th>
                        <th colspan="15" class="text-center danger">baseline_player_opponent　<strong><%=@player.baseline_player_opponent%></strong></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        
                        <th colspan="15" class="text-center info">net_player　<strong><%=@player.net_player%></strong></th>
                        <th class="text-center"></th>
                        <th colspan="15" class="text-center danger">net_player_opponent　<strong><%=@player.net_player_opponent%></strong></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_service">S</button></td><td class="cell1-1 text-center value"></td><td class="cell1-2 text-center value"></td><td class="cell1-3 text-center value"></td><td class="cell1-4 text-center value"></td><td class="cell1-5 text-center value"></td><td class="cell1-6 text-center value"></td><td class="cell1-7 text-center value"></td><td class="cell1-8 text-center value"></td><td class="cell1-9 text-center value"></td><td class="cell1-10 text-center value"></td><td class="cell1-11 text-center value"></td><td class="cell1-12 text-center value"></td><td class="cell1-13 text-center value"></td><td class="cell1-14 text-center value"></td>
                            <td rowspan="2" class="text-center">-(1)-<br><p class="points"></p>-<p class="opponent_points"></p></td>
                            <td class="opponent_cell1-1 text-center value"></td><td class="opponent_cell1-2 text-center value"></td><td class="opponent_cell1-3 text-center value"></td><td class="opponent_cell1-4 text-center value"></td><td class="opponent_cell1-5 text-center value"></td><td class="opponent_cell1-6 text-center value"></td><td class="opponent_cell1-7 text-center value"></td><td class="opponent_cell1-8 text-center value"></td><td class="opponent_cell1-9 text-center value"></td><td class="opponent_cell1-10 text-center value"></td><td class="opponent_cell1-11 text-center value"></td><td class="opponent_cell1-12 text-center value"></td><td class="opponent_cell1-13 text-center value"></td><td class="opponent_cell1-14 text-center value"></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_service">S</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_recive">R</button></td><td class="cell1-15 text-center"></td><td class="cell1-16 text-center"></td><td class="cell1-17 text-center"></td><td class="cell1-18 text-center"></td><td class="cell1-19 text-center"></td><td class="cell1-20 text-center"></td><td class="cell1-21 text-center"></td><td class="cell1-22 text-center"></td><td class="cell1-23 text-center"></td><td class="cell1-24 text-center"></td><td class="cell1-25 text-center"></td><td class="cell1-26 text-center"></td><td class="cell1-27 text-center"></td><td class="cell1-28 text-center"></td>
                            <td class="opponent_cell1-15 text-center value"></td><td class="opponent_cell1-16 text-center value"></td><td class="opponent_cell1-17 text-center value"></td><td class="opponent_cell1-18 text-center value"></td><td class="opponent_cell1-19 text-center value"></td><td class="opponent_cell1-20 text-center value"></td><td class="opponent_cell1-21 text-center value"></td><td class="opponent_cell1-22 text-center value"></td><td class="opponent_cell1-23 text-center value"></td><td class="opponent_cell1-24 text-center value"></td><td class="opponent_cell1-25 text-center value"></td><td class="opponent_cell1-26 text-center value"></td><td class="opponent_cell1-27 text-center value"></td><td class="opponent_cell1-28 text-center value"></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_recive">R</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_service2">S</button></td><td class="cell2-1 text-center value"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td rowspan="2" class="text-center">-(2)-</td>
                            <td class="opponent_cell2-1 text-center value"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_service2">S</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_recive2">R</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_recive2">R</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_service3">S</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td rowspan="2" class="text-center">-(3)-</td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_service3">S</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_recive3">R</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_recive3">R</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_service4">S</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td rowspan="2" class="text-center">-(4)-</td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_service4">S</button></td>
                        </tr>
                        <tr> 
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_recive4">R</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_recive4">R</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_service5">S</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td rowspan="2" class="text-center">-(5)-</td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_service5">S</button></td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_recive5">R</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_recive5">R</button></td>
                        </tr>
                        <tr>  
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_service6">S</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td rowspan="2" class="text-center">-(6)-</td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_service6">S</button></td>
                        </tr>
                        <tr> 
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_recive6">R</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_recive6">R</button></td>
                        </tr>
                        <tr> 
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_service7">S</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td rowspan="3" class="text-center">-(F)-</td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_service7">S</button></td>
                        </tr>
                        <tr>
                            <td>　</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>　</td>
                        </tr>
                        <tr>
                            <td class="text-center"><button type="button" class="btn btn-default btn-circle select_recive7">R</button></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="text-center"><button type="button" class="btn btn-default btn-circle opponent_select_recive7">R</button></td>
                        </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>
