<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">This is page that edit scoresheet </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><%=@player.baseline_player%></th>
                        <%binding.pry%>
                        <th class="text-center">VS</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        
                        <th>FirstName</th>
                        <th class="text-center"></th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                            <td>Hanako</td>
                            <td>Qiita</td>
                            <td>@Hanaq</td>
                    </tr>
                    <tr>
                        
                            <td>Taro</td>
                            <td>Qiita</td>
                            <td>@TaroQ</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>