
h1, h2 {
  font-weight: 120;
}

.text-navy{
  color: #000080;
}

.btn-white {
  color: #000080;
  border: 3px solid #00FF80;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('thien-dang-252028-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 70px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}
form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('simon-migaj-575913-unsplash.jpg');
  background-position: center center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}
.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('andrea-reiman-250388-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 120px;
}
.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

/*help pageのscss*/
.features-boxed {
  color:#313437;
  background-color:#49d6ff;
    .container {
      .row4{
        .self-introduction-box{
          .box{
            .my-information{
              font-family: 'Noto Serif', serif;
            }
            .font{
              font-family: 'Wendy One', sans-serif;
            }
            background-color: #fff;
            padding:30px;
            margin-bottom:30px;
          }
        }
      }
      .self-produce{
        .self-produce{
         .self-introduction{
          font-family: 'Wendy One', sans-serif;
         }
        }
      }
      max-width: 1140px;
      padding-right:15px;
      padding-left:15px;
      margin-right:auto;
      margin-left:auto;
    .features{
      padding: 50px 0;
}
    .justify-content-center {
      -ms-flex-pack:center!important;
      justify-content:center!important;
}
    .row {
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      margin-right:-15px;
      margin-left:-15px;
}
    .item {
      text-align:center;
      position: relative;
      .box {
        .name {
          font-family: 'Wendy One', sans-serif;
        }
        .learn-more{
          font-family: 'Wendy One', sans-serif;
        }
      }
}


      .intro {
        h2 {
          font-family: 'Wendy One', sans-serif;
          margin-bottom:25px;
          padding-top:25px;
          font-size:24px;
          font-weight:bold;
          margin-bottom:40px;
          padding-top:40px;
          color:inherit;
          h4 {
            color: #7d8285;
            margin-top: 0;
            margin-bottom: 1rem;
}
}
}
}
}


.btn-circle{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 15px;
  line-height: 1.428571429;
  border-radius: 15px;
}